name: end-to-end

on:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8"]
        experimental: [false]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          environment-file: continuous_integration/environment.yaml
          activate-environment: test-environment

      - name: Install pygac-fdr
        shell: bash -l {0}
        run: |
          pip install --no-deps -e  .

      - name: Fetch test data
        shell: bash -l {0}
        run: |
          python pygac_fdr/tests/fetch_data.py

      - name: Run end-to-end tests
        shell: bash -l {0}
        run: |
          python pygac_fdr/tests/test_end2end.py
